@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=DM+Sans&family=Hind+Siliguri:wght@300;400&family=Lato:wght@300&family=Raleway:wght@200;300&family=Signika+Negative:wght@300&family=Ubuntu:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Catamaran", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Signika Negative", sans-serif;
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(255, 255, 255);
}

/* Main -heading */
.heading {
  font-size: 3em;
  padding: 4% 0;
  text-align: center;

  color: white;
  background-image: url(https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  text-decoration: underline;
  text-transform: capitalize;
  word-spacing: 20px;
  user-select: none;
}

/* box containing details of color and button */
.main {
  display: block;
  text-align: center;
  margin-top: 15%;
}

/* Background color: style */
.main > h2 {
  font-size: 32px;
  user-select: none;
  padding: 24px;
}

.main > .info {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 45%;
  font-weight: light;
  margin: 0 0 4% 27.5%;
  border-radius: 13px;
  border: 3px black solid;
  background-color: rgb(255, 255, 255);
}

.main > h2 > span {
  user-select: all;
}

/* Click Me button */
.main > .button-all {
  padding: 16px 26px;
  border-radius: 12px;
  user-select: none;
  background-color: black;
  color: white;
  font-size: 23px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: none;
  outline: none;
}

/* Click effect */
.main > .button-all:active {
  transform: scale(1.141);
}

/* footer */
footer {
  margin-left: 30%;
  border-radius: 13px;

  background-color: aliceblue;
  width: 40%;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
  padding: 20px;
}

@media only screen and (max-width: 700px) {
  .main {
    width: 100%;
    margin-top: 40px;
  }
}
